<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><i class="fas fa-user-circle"></i> Portfolio</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@using Microsoft.AspNetCore.Components.Authorization
@using Portfolio.UI.Services
@inject AuthenticationStateProvider AuthStateProvider
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home"></i> Portfolio
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="projects">
                        <i class="fas fa-laptop-code"></i> Projects
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="bio/create">
                        <i class="fas fa-plus"></i> Create Bio
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="bio/edit">
                        <i class="fas fa-edit"></i> Edit Bio
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <a class="nav-link" href="#" @onclick="HandleLogout" @onclick:preventDefault>
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <i class="fas fa-user-plus"></i> Register
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();

        // Notify authentication state changed
        if (AuthStateProvider is CustomAuthenticationStateProvider customProvider)
        {
            customProvider.NotifyAuthenticationStateChanged();
        }

        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}
